{% extends 'base.html' %}

{% block content %}
    <article class="content ">
        <div class="centered">
    
            <section class="contact-top">
                <h1>Contact us</h1>
            </section>
    
            <section class="contact-middle">
                <p>If you would like to report an issue or have any questions you can email us directly.<br><br>Our email is:<br><a href="mailto:support@instadp.com"><b>support@instadp.com</b></a></p>
            </section>
            
        </div>
    </article>
{% endblock %}